<ons-page id="page3">
    <ons-toolbar>
      <div class="left"><ons-back-button>Page 3</ons-back-button></div>
      <div class="center"></div>
    </ons-toolbar>
  
    <ons-tabbar position="auto">
      <ons-tab page="tab1.html" label="Tab 1" icon="fa-camera" active>
      </ons-tab>
      <ons-tab page="tab2.html" label="Tab 2" icon="fa-snowflake">
      </ons-tab>
      <ons-tab page="tab3.html" label="Tab 3" icon="fa-map">
      </ons-tab>
      <ons-tab page="tab4.html" label="Tab 4" icon="fa-chart-bar">
      </ons-tab>
    </ons-tabbar>
  </ons-page>