<ons-page id="page2">
  <ons-toolbar>
    <div class="left"><ons-back-button>Page 1</ons-back-button></div>
    <div class="center"></div>
  </ons-toolbar>

  <ons-list></ons-list>

  <template id="template-station">
    <ons-list-item expandable>
      <span class="contenu list-item__title">Bussang</span>
      <span class="contenu list-item__subtitle">10 pistes</span>
      
      <div class="right">
        <ons-button modifier="quiet" style="margin-inline-end: 1.5em;" 
          data-id="137" data-nom="Bussang" onclick="GoPageDetail(event)">voir</ons-button>
        <span class="list-item__expand-chevron"></span>
      </div>
      
      <div class="expandable-content">
        <ons-row>
          <ons-col>Altitude maxi</ons-col>
          <ons-col><span class="contenu" style="font-weight: bold;">m</span></ons-col>
        </ons-row>
        <ons-row>
          <ons-col>Altitude mini</ons-col>
          <ons-col><span class="contenu" style="font-weight: bold;">m</span></ons-col>
        </ons-row>
      </div>

    </ons-list-item>
  </template>
</ons-page>
