<ons-page id="tab1">
  <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <ons-carousel-item style="background: url('photos/photo1.jpg'); background-size: cover;">
    </ons-carousel-item>

    <ons-carousel-item style="background: url('photos/photo2.jpg'); background-size: cover;">
    </ons-carousel-item>

    <ons-carousel-item style="background: url('photos/photo3.jpg'); background-size: cover;">
    </ons-carousel-item>
  </ons-carousel>
</ons-page>
