<ons-page id="tab2" style="overflow-y: auto;">
  <div>

  </div>

  <template id="card-meteo">
  <ons-card>
    <div class="title">
      Vendredi 12 novembre
    </div>
    <div class="content" style="display: grid;grid-auto-rows: auto;grid-template-columns: 110px 1fr;">
      <div>Temp.</div>
      <div><strong class="weather">-5 °</strong></div>
      <div>Vent</div>
      <div><strong class="weather">15 km/h</strong></div>
      <div>Humidité</div>
      <div ><strong class="weather">50%</strong></div>
      <div>UV</div>
      <div style="justify-self: end;"><strong class="weather">4</strong></div>
    </div>
  </ons-card>
</template>
</ons-page>
