<ons-page id="tab4">
<svg width="100%" height="100%" id="resort" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 846 420">
   <defs>
      <style>.cls-1,.cls-17{fill:#1a5794;}.cls-1{stroke:#1a5794;}.batiment-6,.cls-2,.cls-21,.cls-24,.cls-26,.cls-28,.cls-4{fill:#fff;}.cls-3{fill:#DDDDDD;}.cls-15,.cls-24,.cls-4{stroke:#0066b1;}.cls-23,.cls-4{stroke-width:0.4px;}.cls-15,.cls-29,.cls-5{fill:none;}.cls-5{stroke:#00a147;stroke-dasharray:4.88 3.25;}.cls-12,.cls-6{fill:#1fac50;}.batiment-6{stroke:#64b6d0;}.cls-7{fill:#AF272F;}.cls-8{font-size:21px;fill:#333333;font-family:Arial-BoldItalicMT, Arial;font-style:italic;}.cls-14,.cls-8{font-weight:700;}.cls-10,.cls-9{fill:#444444;}.cls-10{font-size:9.06px;}.cls-10,.cls-11,.cls-12,.cls-13,.cls-17{font-family:ArialMT, Arial;}.cls-11,.cls-12{font-size:9px;}.cls-11{fill:#5192a7;}.cls-13{font-size:7px;fill:#3d6d8d;}.cls-14{font-size:11.19px;font-family:Arial-BoldMT, Arial;}.cls-14,.cls-16{fill:#AF272F;}.cls-15{stroke-width:0.25px;}.cls-17{font-size:10px;}.cls-18{letter-spacing:-0.02em;}.cls-19{letter-spacing:-0.06em;}.cls-20{letter-spacing:-0.04em;}.cls-21{stroke:#1eab4f;}.cls-22{fill:#1eab4f;}.cls-23{fill:#0066b2;}.cls-23,.cls-29{stroke:#fff;}.cls-24{stroke-width:0.5px;}.cls-25{fill:#e12b36;}.cls-26{stroke:#e46037;}.cls-27{fill:#e46037;}.cls-28{stroke:#002c89;}.cls-29{stroke-miterlimit:10;stroke-width:0.08px;}.cls-30{fill:#002c89;}</style>
   </defs>
   <title>resort_33</title>
   <g id="numéro"><circle class="cls-1" cx="23.55" cy="344.72" r="6.5"/>
      <path class="cls-2" d="M25.92,346.15a2,2,0,0,1-.68,1.63,2.61,2.61,0,0,1-1.69.56,3,3,0,0,1-1.16-.23,2,2,0,0,1-.88-.74,2.22,2.22,0,0,1-.33-1.25h1.64a.73.73,0,1,0,1.46,0,.71.71,0,0,0-.22-.55.73.73,0,0,0-.54-.21h-.23v-1.42h.23a.74.74,0,0,0,.38-.09.68.68,0,0,0,.23-.25.72.72,0,0,0,.07-.33.65.65,0,0,0-.19-.5.64.64,0,0,0-.46-.17.66.66,0,0,0-.47.18.65.65,0,0,0-.18.48H21.26a2.11,2.11,0,0,1,.17-.89,1.85,1.85,0,0,1,.49-.68,2.14,2.14,0,0,1,.73-.43,2.58,2.58,0,0,1,.9-.14,2.64,2.64,0,0,1,1.17.26,2.05,2.05,0,0,1,1.12,1.84,1.54,1.54,0,0,1-.74,1.39,2.14,2.14,0,0,1,.59.61A1.77,1.77,0,0,1,25.92,346.15Z"/>
      <circle class="cls-1" cx="257.87" cy="344.72" r="6.5"/>
      <path class="cls-2" d="M260.26,346.15a2.1,2.1,0,0,1-.32,1.21,1.94,1.94,0,0,1-.86.74,3.17,3.17,0,0,1-2.42,0,2,2,0,0,1-.86-.74,2.18,2.18,0,0,1-.32-1.21,1.59,1.59,0,0,1,.24-.92,2.5,2.5,0,0,1,.56-.61,2.86,2.86,0,0,1-.52-.59,1.45,1.45,0,0,1-.21-.82,2,2,0,0,1,.19-.89,1.79,1.79,0,0,1,.51-.67,2.23,2.23,0,0,1,.74-.41,2.93,2.93,0,0,1,.88-.13,2.84,2.84,0,0,1,.88.13,2.31,2.31,0,0,1,.74.41,1.9,1.9,0,0,1,.51.67,2,2,0,0,1,.19.89,1.54,1.54,0,0,1-.21.84,3.12,3.12,0,0,1-.52.57,2.76,2.76,0,0,1,.57.61A1.67,1.67,0,0,1,260.26,346.15Zm-1.64,0a.75.75,0,0,0-.1-.38.82.82,0,0,0-.65-.38.75.75,0,0,0-.53.22.77.77,0,0,0-.22.54.73.73,0,0,0,.22.52.75.75,0,0,0,1.06,0A.69.69,0,0,0,258.62,346.12Zm-.07-2.86a.62.62,0,0,0-.2-.48.7.7,0,0,0-1,0,.67.67,0,0,0-.2.48.66.66,0,0,0,.2.48.62.62,0,0,0,.48.2.65.65,0,0,0,.48-.19A.63.63,0,0,0,258.55,343.26Z"/>
      <circle class="cls-1" cx="23.55" cy="365.73" r="6.5"/>
      <path class="cls-2" d="M26.07,368.34h-.53v1H24v-1H21v-1.55l2.36-4.62h1.8l-2.36,4.62H24v-1h1.56v1h.53Z"/>
      <circle class="cls-1" cx="257.87" cy="365.73" r="6.5"/>
      <path class="cls-2" d="M260.24,364.43a2.42,2.42,0,0,1-.17.92,11.61,11.61,0,0,1-.51,1.14l-1.37,2.82h-1.8l1.41-2.78a1.35,1.35,0,0,1-.4.05,1.78,1.78,0,0,1-.66-.14,2,2,0,0,1-.62-.42,1.92,1.92,0,0,1-.45-.68,2.54,2.54,0,0,1,.15-2.15,2,2,0,0,1,.86-.79,2.85,2.85,0,0,1,2.38,0,2,2,0,0,1,.86.78A2.3,2.3,0,0,1,260.24,364.43Zm-1.64,0a.85.85,0,0,0-.2-.6.72.72,0,0,0-.53-.21.7.7,0,0,0-.52.21.95.95,0,0,0,0,1.19.75.75,0,0,0,1,0A.82.82,0,0,0,258.6,364.43Z"/>
      <circle class="cls-1" cx="265.14" cy="202.01" r="6.5"/>
      <path class="cls-2" d="M267.51,200.71a2.69,2.69,0,0,1-.17.93q-.16.44-.51,1.14l-1.37,2.82h-1.8l1.41-2.78a1.45,1.45,0,0,1-.4,0,1.65,1.65,0,0,1-.67-.14,1.89,1.89,0,0,1-.62-.42,2,2,0,0,1-.44-.68,2.34,2.34,0,0,1-.17-.91,2.27,2.27,0,0,1,.32-1.24,2,2,0,0,1,.86-.79,2.76,2.76,0,0,1,1.19-.26,2.8,2.8,0,0,1,1.19.26,2,2,0,0,1,.86.79A2.27,2.27,0,0,1,267.51,200.71Zm-1.64,0a.8.8,0,0,0-.21-.59.66.66,0,0,0-.52-.22.67.67,0,0,0-.52.22.93.93,0,0,0,0,1.18.66.66,0,0,0,.52.22.67.67,0,0,0,.52-.22A.8.8,0,0,0,265.87,200.71Z"/>
      <circle class="cls-1" cx="23.55" cy="323.72" r="6.5"/>
      <path class="cls-2" d="M25.84,327.31H21.26v-1.48l2.58-2.8a2.25,2.25,0,0,0,.28-.38.86.86,0,0,0,.08-.38.69.69,0,0,0-.17-.48.61.61,0,0,0-.47-.18.71.71,0,0,0-.47.16.64.64,0,0,0-.2.53H21.26a2.1,2.1,0,0,1,.31-1.16,1.94,1.94,0,0,1,.83-.75,2.57,2.57,0,0,1,1.16-.26,2.66,2.66,0,0,1,1.18.26,2,2,0,0,1,.81.75,2.25,2.25,0,0,1,.29,1.14,1.82,1.82,0,0,1-.2.88A4.67,4.67,0,0,1,25,324l-1.69,1.8h2.58Z"/>
      <circle class="cls-1" cx="257.87" cy="323.72" r="6.5"/>
      <path class="cls-2" d="M260.31,321.64l-2.22,5.64h-1.8l2.22-5.64H257v1.12h-1.56v-2.6h4.88Z"/>
      <circle class="cls-1" cx="23.55" cy="302.72" r="6.5"/>
      <path class="cls-2" d="M25.13,306.28H23.49v-5.37L22,302.23v-1.75l1.52-1.32h1.64Z"/>
      <circle class="cls-1" cx="257.87" cy="302.72" r="6.5"/>
      <path class="cls-2" d="M260.24,304a2.27,2.27,0,0,1-.32,1.24,2,2,0,0,1-.86.79,2.85,2.85,0,0,1-2.38,0,2,2,0,0,1-.86-.79,2.45,2.45,0,0,1-.26-1.75,2.76,2.76,0,0,1,.16-.54q.1-.29.24-.57c.1-.19.17-.34.22-.45l1.37-2.82h1.8l-1.41,2.79a1.3,1.3,0,0,1,.4-.05,1.8,1.8,0,0,1,.68.14,2.08,2.08,0,0,1,.61.42,1.92,1.92,0,0,1,.45.68A2.35,2.35,0,0,1,260.24,304Zm-1.64,0a.87.87,0,0,0-.2-.6.72.72,0,0,0-.53-.21.7.7,0,0,0-.52.21.83.83,0,0,0-.21.6.8.8,0,0,0,.21.59.72.72,0,0,0,1,0A.8.8,0,0,0,258.6,304Z"/>
      <circle class="cls-1" cx="257.87" cy="386.73" r="6.5"/>
      <path class="cls-2" d="M256.41,390.29h-1.64v-5.37l-1.51,1.32v-1.75l1.51-1.32h1.64Z"/>
      <path class="cls-2" d="M262.49,388.13a2.24,2.24,0,0,1-.19.95,1.82,1.82,0,0,1-.5.7,2.09,2.09,0,0,1-.74.42,2.57,2.57,0,0,1-2-.11,2.12,2.12,0,0,1-.85-.75,2.25,2.25,0,0,1-.31-1.21v-2.8a2.38,2.38,0,0,1,.18-1,2.14,2.14,0,0,1,.52-.7,2,2,0,0,1,.73-.42,2.71,2.71,0,0,1,1.72,0,2.09,2.09,0,0,1,.74.42,2,2,0,0,1,.5.7,2.22,2.22,0,0,1,.19,1Zm-1.64,0v-2.81a.75.75,0,0,0-.19-.55.6.6,0,0,0-.46-.19.63.63,0,0,0-.47.19.78.78,0,0,0-.18.55v2.81a.77.77,0,0,0,.18.54.67.67,0,0,0,.47.19.64.64,0,0,0,.46-.19A.74.74,0,0,0,260.85,388.14Z"/>
      <circle class="cls-1" cx="23.55" cy="386.73" r="6.5"/>
      <path class="cls-2" d="M25.86,387.83a4.1,4.1,0,0,1-.06.76,1.72,1.72,0,0,1-.2.59,2.54,2.54,0,0,1-.4.53,2.09,2.09,0,0,1-.67.43,2.52,2.52,0,0,1-1,.18,2.57,2.57,0,0,1-1-.18,2.16,2.16,0,0,1-.7-.44,1.8,1.8,0,0,1-.46-.7,4.15,4.15,0,0,1-.16-.91h1.64c.06.5.28.75.67.75a.63.63,0,0,0,.46-.18,1.2,1.2,0,0,0,.21-.83,1.36,1.36,0,0,0-.17-.78.6.6,0,0,0-.5-.23.62.62,0,0,0-.45.14,1,1,0,0,0-.22.37H21.37v-4.19h4.34v1.48H22.86v1.1a1.36,1.36,0,0,1,.4-.19,1.77,1.77,0,0,1,.56-.09,2.07,2.07,0,0,1,.8.14,1.59,1.59,0,0,1,.58.36,2,2,0,0,1,.53.84A3.68,3.68,0,0,1,25.86,387.83Z"/>
      <circle class="cls-1" cx="486.19" cy="302.72" r="6.5"/>
      <path class="cls-2" d="M485.49,306.28h-1.64v-5.37l-1.52,1.32v-1.75l1.52-1.32h1.64Z"/>
      <path class="cls-2" d="M490.06,306.28h-1.65v-5.37l-1.51,1.32v-1.75l1.51-1.32h1.65Z"/>
      <circle class="cls-1" cx="486.19" cy="323.72" r="6.5"/>
      <path class="cls-2" d="M485,327.31h-1.64v-5.37l-1.52,1.32v-1.75l1.52-1.32H485Z"/>
      <path class="cls-2" d="M490.58,327.31H486v-1.48l2.58-2.8a1.8,1.8,0,0,0,.28-.38.86.86,0,0,0,.08-.38.68.68,0,0,0-.16-.48.63.63,0,0,0-.48-.18.71.71,0,0,0-.47.16.63.63,0,0,0-.19.53H486a2.1,2.1,0,0,1,.31-1.16,2,2,0,0,1,.83-.75,2.63,2.63,0,0,1,1.16-.26,2.6,2.6,0,0,1,1.18.26,2,2,0,0,1,.81.75,2.25,2.25,0,0,1,.29,1.14,1.71,1.71,0,0,1-.2.88,4.55,4.55,0,0,1-.68.87l-1.7,1.8h2.58Z"/>
</g>
<g id="plan">
   <path class="cls-3" d="M1.72,91.78l.29,0v-.55Z"/><path class="cls-3" d="M38.88,2.23,2,64.63c.08.24.06,15.55,0,26.63L52.35,2.12Z"/><path class="cls-3" d="M95.66,1.74H52.56l-.21.38C62.68,2,78.11,1.9,95.64,1.77Z"/><path class="cls-3" d="M844.13,12.2C843,9.46,835.86,10.29,828.28,14L772.57,41.62c-.72-1.64-1.81-4.18-3-7-2.13-4.93-9.91-11.09-17.29-13.7s-20.38-4.31-28.88-3.8l-18.64,1.13a247.09,247.09,0,0,0-26.81,3.17c-6.25,1.24-18.13,3.82-26.42,5.74l-23.56,5.47a204.43,204.43,0,0,1-28,4.24c-7.09.41-19-2.45-26.54-6.34l-6.28-3.27c-7.5-3.89-19.52-10.68-26.72-15.08l-17.5-10.9H509.09s28,20.38,34.36,24.63c2.95,2,6.54,4.06,10,5.93-3.23-.37-7.32-.94-10.31-1.45-4-.69-11.17-1.47-16-1.74s-10.63-.84-12.9-1.25-4.95-1.76-5.94-3a3.15,3.15,0,0,0-3.87-1,2.26,2.26,0,0,0-1,3c.57,1-.94,1.86-3.36,2s-8.22-.76-12.9-2S473.33,23,466.8,21.66a146,146,0,0,0-21.17-2.74c-3.09-.08-5.12.3-5.7.95L415.5,1.36l-13.35-.18,91.09,68.16c6.75,5,13,10.79,13.82,12.85a15.38,15.38,0,0,1,1,7c-.28,1.78-.74,4.7-1,6.48a22.8,22.8,0,0,0,1,8.22,4.53,4.53,0,0,0,1.33,2.19,44,44,0,0,0-4,16.83l-5.42-.6c-5.28-11.51-10.18-23.13-18.67-33-13.95-16.18-29.22-29.57-46.67-42.17-18.44-13.24-31.75-29.89-47-45.75l-12.39.19c15.76,16.51,35,39.4,54.38,53.11,16.67,11.77,30.05,25.93,44.66,39.42a210.68,210.68,0,0,1,11.94,21.25C470,100.4,455.07,84.78,436,72.1c-2.14-1.39-3.94-3.13-6-4.42-20.42-13.3-37.48-27.22-57.41-40.88-16.08-11-16.61-12.37-30.49-25.25-13.16-.37-12.88-.37-12,.56C343.73,16.42,350,21.88,366.42,33.37c19.68,13.77,36.82,29.05,57.64,40.3,3.6,4.67,9.47,6.78,13.89,10.62,17.83,15.42,36.14,30.19,51.75,47.47l-.68,2.06-17.87-2.35-3.57,2.44c-6.05-2.63-11.13-6.53-16.24-10.6l4.76,1.52-19.28-21L420.28,87,399.22,76,355,64.34a238.69,238.69,0,0,0-20.56-20.41c-2.25-2-5.29-2.49-7.56-4.27-19-15-38.49-28.86-61.14-37.92l-12.67.18c13.34,4.88,33.25,17.92,44.51,26.62,8,6.18,15.83,12.14,23.83,18.44,2.78,2.23,6.62,2.65,9.26,5.23a418.13,418.13,0,0,1,38.47,43.66c1.41,1.86,3.89,2.38,5.32,3.84,4.78,4.84,10.11,9.68,16.51,12.19l2.34.87a4.85,4.85,0,0,0,4.57-.71l2.11-1.82a3.87,3.87,0,0,1,6.28-2.08c4.17,4.28,8.28,9.61,14.43,10,12.57.72,21.24,9.67,30.3,17,5.2,4.13,11.75,6.43,18.07,9a4.29,4.29,0,0,0,1.27.26l1.42,2.34,1.53,8.4c-11.11,4.6-23.69,5.74-35.71,5.62-15.6-.24-33.19-3.63-43.38-16.41-9.45-20.37-24.18-37-42.59-50.86-6.71-5-15-6.9-22.83-9.86h0a35.33,35.33,0,0,0-2.34-4.47C320,69,311.13,62,300.68,56.17c-2-1.15-4.52-1.34-6.3-2.6-7.91-5.46-17-7.49-25.32-11.58a82.32,82.32,0,0,0-8.61-4.06l-.33-.14c-.08-.3-34.67-21.17-34.67-21.17L204.8,6.16,193.73,25.49,156.29,8.42l3.86-6.25c-16.55.08-34.22-.61-50.77-.5l32,10.83L82.74,108.1c-3.56-1.45-7.86-1.39-11.48-2.86a127.1,127.1,0,0,0-24.38-6.71L108.71,1.68l-13.07.09-59,95.08c-3-.44-6-.85-9.09-1.27-3.27-.47-6.42.49-9.67-.18-6-1.25-10-3-15.87-3.59,0,6,0,10.68,0,10.68,10.7,1.76,4.22,1.06,14.84,1.66,18,1,35.6,3.78,52.31,9.91,2.63,1,5.65,1.18,8.43,1.86L64.24,139.73l8.31,4.14,14.5-24.62a170.69,170.69,0,0,0,41.3,8.69L115.47,155.5l8.67,3.22,13.91-30.24h.47c2,.07,3.81,1.55,5.84,1.83,11.24,1.43,20.62,6.18,31.06,9.31,2.64.83,5.51,1,8.28,1.51l-16,22,11.19,5.21,14.32-24c8.9,3.23,17.75,6.55,26.63,9.85l.07,0,2.15.81c.4,6.18-4.55,11.53-1.91,17.69,7.91,18.34,31.33,28.28,49.77,20,6.13-2.78,7.46-9.86,10.87-15.19,2,.95,4,1.92,5.95,2.95,6.46,3.39,12.63,7,19.18,10.17,2.62,1.24,4.62,3.51,7.22,4.95,6.9,3.68,13.78,6,20.59,10.09,2.87,1.66,6,2.41,8.9,3.7,2.46,1.11,4.33,3,6.77,4.17,20.62,9.73,42.93,13.32,63.86,21.82l-6.62,11,8.89,5.43,7.54-12.14c10.56,4.65,21.2,8.72,31.64,13.73L449,268.68h11.36l4.23-10.29a192.54,192.54,0,0,1,16.66,10.27l0,0H634.12a27.65,27.65,0,0,0-3.69-6.83c-6.41-8-11-16.34-16.68-24.45,0-4.85-.31-16.36-.41-17.56-1.77-26.58-14.56-49.86-24.28-74.94,7.42-6.83,16.69-10,26.6-13.05,1.63-.46,2.74-1.85,4.27-2.42,7.05-2.59,13.83-4.35,20.72-7.26s14.33-11.53,20.05-17l.29.11L832.3,23.79C839.94,20.15,845.26,14.94,844.13,12.2Zm-462,82.53a26.74,26.74,0,0,0-5.93-4.5q-5.43-7.12-11.07-14l30.59,11.34ZM661.92,34.12a121.57,121.57,0,0,1,28.87-5.95l1.1-.07c8.5-.53,20.56-1.29,26.81-1.71s14.14-.63,17.55-.49a60.25,60.25,0,0,1,13.67,2.74c4.12,1.37,8.19,3.27,9,4.23l1.55,1.74,1.25.88a55.1,55.1,0,0,0-6.93-3.12,61.63,61.63,0,0,0-15.23-3c-4.12-.13-14.28,1.23-22.59,3l-6.52,1.42a3.62,3.62,0,0,0-.57-.71c-1.7-1.64-8.21-2.88-14.45-2.74a184,184,0,0,0-19.36,1.49c-3.51.55-18.3,5.29-24.16,7.19a32.7,32.7,0,0,0-3.27-.68C653.61,37,658.39,35.43,661.92,34.12ZM698,36.54,680.64,40.3a50.63,50.63,0,0,0-17.46,8.09,10.63,10.63,0,0,0-.75-3.32A8,8,0,0,0,659,41.86a51.19,51.19,0,0,1,9.1-3c4.26-.69,11.57-1.81,16.26-2.49C688.91,35.69,694.91,35.78,698,36.54ZM582.42,42.83c4.83,1.51,14.82,2.74,22.2,2.74,4.93,0,18.07-1,18.07-1l7.22.49c4,.28,10.13.39,13.68.25a53.41,53.41,0,0,1,8.78.25c1.27.28,3,2,3.87,3.74.55,1.15,1.22,2.53,1.78,3.66-.16.19-.34.38-.49.57-4.4,5.48-9.4,11.42-11.1,13.2-1.37,1.44-6.69,4.41-12.78,7.23a3.55,3.55,0,0,0-1.42-2.74c-2.41-2.06-8.91-3.85-14.45-4s-14.59-.13-20.13,0-11.46-.09-13.16-.5-2.87-3.21-2.58-6.22a45.53,45.53,0,0,0-.78-11.46,25.62,25.62,0,0,0-3-7.58C579.74,42,581.19,42.45,582.42,42.83ZM581,96.33c-.51.15-7.33,3.86-7.47,4.69-9.55,4.68-18.58,9.31-28,14.93-3.23,1.87-5.85,4.63-9,6.25a84.61,84.61,0,0,0-18.44,12.06l-3.61-4.75h0c.29-8.36.33-17.15,6.18-24.06,14.56-4.8,29.12-9.42,43.6-14.39l28-9.11,7-1a140.62,140.62,0,0,1,16.26-1,47.41,47.41,0,0,0,4.91-.28l-13.69,5.76s-3.55,2.69-3.55,2.75C595.69,90.57,588.54,93.6,581,96.33Zm21.34,1.48a7,7,0,0,1-.8,1.26,112.52,112.52,0,0,1-8.26,9.26c-1.78-1.66-3.61-3.23-5.49-4.76C592.6,101.45,597.42,99.49,602.33,97.81ZM559.52,83.24s-31.23,8.23-45.09,16.37a4.22,4.22,0,0,0-.14-.74c-.57-1.91.59-5.84,2.58-8.71a17,17,0,0,1,9.81-6.23l15.22-2.49c5-.82,12.64-2.06,17-2.74s12.48-1.55,18.28-2C569.44,79.44,559.89,82.82,559.52,83.24ZM502.41,65,450.73,27.7c1.9.8,8.48-.16,12.46.94s11.75,3.11,17.29,4.48a117.58,117.58,0,0,0,21.16,2.74c6.1.14,15.28,0,20.39-.25a121.17,121.17,0,0,1,16,.25c3.69.41,9.5,1.31,12.91,2a58.16,58.16,0,0,1,12.13,4.24l5.93,3,1.81,1.75c1,1,2.15,4.21,2.58,7.22a23,23,0,0,1-1,10c-1,2.47-4.6,5-8,5.73a93.3,93.3,0,0,1-11.62,1.5c-3,.13-8.44-2.22-12.13-5.23s-8.57-4.92-10.84-4.24-1.46,3.71,1.81,6.73,4.66,6,3.1,6.72-6.68.69-11.36,0S509.22,69.94,502.41,65Zm2,96.91,6,8.61a49.37,49.37,0,0,0-4.07,4.24c-4.29-3.65-9.1-7.05-12-11.55ZM299.72,66.25a59.61,59.61,0,0,1,13.84,11.1l-16.41-6.07ZM252.26,44.16c.14.08.28.17.43.24l1.74.84c9.17,3.53,18,7.82,27.14,11.52a90.06,90.06,0,0,1,9.3,4.58l-3.72,7.3L246.3,54.57ZM210.74,17.61l30.71,22.92-3.31,6.75L204.92,30.7ZM136.08,119.39a155.29,155.29,0,0,1-42-7.25l55.28-94.57L186,36.51Zm11.07,2,2.46-4.45L194.7,39.72,229.85,57,202,107.53,157.21,124C153.87,123.13,150.51,122.26,147.15,121.38Zm41.43,12a103.34,103.34,0,0,0-11.77-2.64c-2.4-1.08-4.83-2-7.29-2.89L195.64,118Zm38.79,14-4.1-1.52a4.51,4.51,0,0,0-.78-.21c-8.36-3.05-16.61-6.51-25-9.42l7.22-15.93,46.16-16-23.44,43.07ZM264,185.27c-14.45,4.18-30.66-3.36-35.78-17.26,1.28-3.09,2.7-6.29,3.14-9.6,13.7,4.9,27.48,9.47,40.91,15.22C269.47,177.68,269.13,183.82,264,185.27Zm13.31-19c-12-5.1-24.29-9.6-36.58-14.06l22.53-48.68,57.05-13.18Zm9.45,4.21L326.68,101c7.05,11.63,15.22,22.17,23.38,33.25l-31.37,54.23A213.35,213.35,0,0,0,286.8,170.51Zm96.31,46c-19-5.6-36.5-15-54.42-23.48l28.91-48.28c1,1.49,2.07,3,3.09,4.53,6.42,9.58,12.39,17.67,19.4,26.8a36.8,36.8,0,0,0,6.48,6.48Zm1.47-49.11c-1.54-2.37-2.67-4.59-4.21-7-2.48-3.85-5.37-6.66-8-10.36C358.8,130.7,345.71,114.63,334,94.81c5,1.72,9.93,3.66,13.89,7,15.32,12.74,29.84,26.46,36.78,45.31,9.49,14.38,26.24,19.86,43.05,21.75,17.1,1.88,35,.63,50.42-6.24l1.92,2,4.43-.42c3.25,7.3,10,12.78,16.43,17.82a.5.5,0,0,1,.08.07c-.38.63-.74,1.28-1.09,1.93-.85-.62-1.72-1.22-2.59-1.81-13.71-3.07-27.11-4.3-41.48-6.42-1.88-.3-3.77.8-5.57.8-8.72,0-16.53-5-25.27-4.56a44.62,44.62,0,0,0-23.4,8A31.54,31.54,0,0,1,384.58,167.36ZM417.72,228c-7.12-2.79-14.27-5.53-21.46-8.31-.44-.08-.87-.18-1.31-.27l2.13-30.1a1.15,1.15,0,0,0,.14.17,4.67,4.67,0,0,0,6,.64,49.79,49.79,0,0,0,18,.35,99.08,99.08,0,0,1,15.58,5.72Zm10.1,4,19.12-30.82c4.66,2.47,9.29,5.08,14,7.64a85.32,85.32,0,0,1,22.38,17.76c10.89,11.72,13.75,27.05,17.4,41.91-4.44-2.85-9-4.48-13.5-7.25C467.88,249.13,448,240.15,427.82,232Zm62.58-11.8c-18.07-18.17-41.21-30-65.62-38-1.43.15-2.88.25-4.33.32a40.33,40.33,0,0,1,22.22,2.5,20,20,0,0,0,15.35-.38c11.73,3.54,24.07,3.78,36,6,12.28,8.76,21.33,20.58,27.7,34.08,4.12,8.6.79,18.17,2,27.26a4.63,4.63,0,0,0,9.25-.5c-1.05-10.06,2-20.39-2.45-30a99.29,99.29,0,0,0-22.33-31.1c2.82-5.26,6.11-10.22,10.8-14.12,10.84,16,19.59,32.13,23.15,51.8,1.93,11,6.69,21.41,16.81,27.43a119.66,119.66,0,0,0,16,8.26c3.61,1.46,7.21,3.11,10.65,4.9H511.21C507,251.4,503.5,233.43,490.4,220.19Zm113-6.77c-1.32,1.12-.63,19.69,2.32,26.52,4.18,9.83,10.08,18.28,17.12,26.82a10.3,10.3,0,0,1,1.2,1.92H602.9c-6.89-6.18-15.29-10.21-24.57-12.59-4.67-4.27-11.17-5.28-16-9-12.86-9.9-12.37-26.25-17.24-40.6-5.26-15.38-14.59-27.92-23.23-40.95l2-8.12-2.6-13.6a70.17,70.17,0,0,1,8-7.35c2.76-2.25,6.41-2.9,9.36-4.94,12.33-8.57,24-14.45,37-21.56,1.09-.6,2.16-1.21,3.22-1.83,2.84,2.18,5.66,4.28,8.28,6.68-6.53,7.25-11.81,15-11,25.29.25,3,3.15,5.11,4.21,7.83C588.71,170,600.3,190.65,603.37,213.42Zm49.45-112.68c-.17.13-1.11.92-1.11.92-3.28,2.83-5.66,6.07-9.28,8.76-7.38,5.67-16.42,6.86-24.68,10.6s-17.13,4.66-25,10.1c-2.48,1.69-5.13,3-7.45,4.72.18-5.08,3.87-9.34,7.29-13a198.26,198.26,0,0,0,17.92-21.24c1.53-2.1,0,0,7.5-12.43L636.69,82c7.91-3,15.43-7.22,16.71-9.28s3.25-1.6,4.39,1,7.87,6.64,15,9a41.35,41.35,0,0,0,12.86,2Zm40.72-20c-.92-1.66-4.26-3.52-9.34-4.93l-.69-.2c-8.19-2.27-16.39-5.93-18.24-8.12s-1.26-6.67,1.29-10,11.4-7.64,19.66-9.66l32.95-8.08c8.26-2,17.45-3.46,20.43-3.18A99.9,99.9,0,0,1,752,38.85a38.76,38.76,0,0,1,11.61,5.23,11.67,11.67,0,0,0,1.8,1.09Z"/><path class="cls-3" d="M108.83,1.49l-.12.19h.67Z"/><polygon class="cls-4" points="216.16 105.3 275.38 89.89 280.26 83.16 279 75.22 240.45 60.94 216.16 105.3"/><line class="cls-5" x1="380.8" y1="236.46" x2="374.62" y2="268.68"/><line class="cls-5" x1="182.68" y1="186.01" x2="161.96" y2="268.68"/><line class="cls-5" x1="264.7" y1="225.93" x2="246.61" y2="282.68"/><line class="cls-5" x1="231.48" y1="200.42" x2="208.93" y2="269.18"/><polygon class="cls-6" points="185.02 191.94 188.53 183.11 180.34 180.07 176.82 188.91 185.02 191.94"/><polygon class="cls-6" points="233.81 206.35 237.33 197.52 229.14 194.48 225.62 203.32 233.81 206.35"/><polygon class="cls-6" points="267.04 231.86 270.56 223.02 262.36 219.99 258.85 228.83 267.04 231.86"/><polygon class="cls-6" points="383.14 242.4 386.65 233.56 378.46 230.53 374.94 239.36 383.14 242.4"/><polygon class="cls-3" points="548.81 173.12 541.6 154.72 529.05 159.3 536.26 177.7 548.81 173.12"/><line class="cls-3" x1="536.23" y1="159.65" x2="542.06" y2="174.29"/><line class="cls-3" x1="534.87" y1="165" x2="541.13" y2="162.54"/><text/><line class="cls-5" x1="804.77" y1="12.82" x2="814.84" y2="1.18"/><polygon class="cls-6" points="801.18 10.3 794.2 16.95 800.35 22.98 807.34 16.33 801.18 10.3"/><rect class="cls-6" x="202.48" y="3.17" width="10.58" height="9.46"/><rect class="cls-3" x="452.26" y="143.13" width="10.53" height="9.65"/><rect class="cls-3" x="418.86" y="143.13" width="10.53" height="9.65"/><rect class="cls-3" x="401.27" y="132.79" width="10.53" height="9.65"/><rect class="cls-3" x="244.93" y="18.66" width="10.53" height="9.65"/><polygon class="cls-3" points="339.7 200.54 344.2 191.92 334.8 187.35 330.3 195.97 339.7 200.54"/><polygon class="batiment-6" points="547.81 171.12 540.6 152.72 528.05 157.3 535.26 175.7 547.81 171.12"/><text/><rect class="batiment-6" x="451.26" y="141.13" width="10.53" height="9.65"/><rect class="batiment-6" x="417.86" y="141.13" width="10.53" height="9.65"/><rect class="batiment-6" x="400.27" y="130.79" width="10.53" height="9.65"/><rect class="batiment-6" x="243.93" y="16.66" width="10.53" height="9.65"/><polygon class="batiment-6" points="338.7 198.54 343.2 189.92 333.8 185.35 329.3 193.97 338.7 198.54"/><polygon class="cls-7" points="235.92 119.62 232.74 110.08 217.9 115.44 221.08 124.98 235.92 119.62"/><polygon class="cls-7" points="192.86 24.55 198.18 15.93 184.2 8.73 178.89 17.35 192.86 24.55"/><text class="cls-8" transform="translate(710.67 195.51)">Morzine</text><polygon class="cls-9" points="113.53 10.26 117.6 5.16 108.89 4.22 113.53 10.26"/><text class="cls-10" transform="translate(18.56 120.35)">Les Gets</text><polygon class="cls-9" points="14.62 115.31 15.14 108.9 7.31 112.71 14.62 115.31"/>
         <text class="cls-10" transform="translate(463.44 250.74)">Samoëns</text>
         <text class="cls-11" transform="translate(441.82 159.84)">Mairie</text>
         <text class="cls-11" transform="translate(409.34 158.65)">Poste</text>
         <text class="cls-11" transform="translate(340.68 187)">ESF</text>
         <text class="cls-10" transform="translate(555.95 13.51)">Avoriaz Station</text>
         <polygon class="cls-9" points="492.46 252.81 486.48 255.65 493.86 260.21 492.46 252.81"/><polygon class="cls-9" points="543.84 11.33 548.52 6.75 539.98 4.79 543.84 11.33"/>
         <text class="cls-12" transform="translate(701.29 15.18)">Téléphérique d'Avoriaz</text>
<text class="cls-11" transform="translate(763.1 73.41)">Les Prodains</text>
<text class="cls-13" transform="matrix(0.96, -0.27, 0.27, 0.96, 191.39, 119.2)">r</text>
<text class="cls-13" transform="translate(193.64 118.57) rotate(-15.62)">o</text>
<text class="cls-13" transform="translate(197.39 117.52) rotate(-15.57)">u</text>
<text class="cls-13" transform="translate(201.14 116.48) rotate(-15.54)">t</text>
<text class="cls-13" transform="translate(202.99 115.96) rotate(-15.5)">e</text>
<text class="cls-13" transform="translate(206.76 114.92) rotate(-15.47)"> </text>
<text class="cls-13" transform="translate(208.63 114.4) rotate(-15.44)">d</text>
<text class="cls-13" transform="matrix(0.96, -0.27, 0.27, 0.96, 212.39, 113.36)">e</text>
<text class="cls-13" transform="matrix(0.96, -0.26, 0.26, 0.96, 216.14, 112.33)"> </text>
<text class="cls-13" transform="matrix(0.96, -0.26, 0.26, 0.96, 218.02, 111.81)">C</text>
<text class="cls-13" transform="translate(222.88 110.48) rotate(-15.26)">o</text>
         <text class="cls-13" transform="translate(226.65 109.45) rotate(-15.2)">m</text>
         <text class="cls-13" transform="translate(232.28 107.92) rotate(-15.13)">b</text>
<text class="cls-13" transform="translate(236.02 106.91) rotate(-15.07)">e</text>
<text class="cls-13" transform="translate(239.78 105.9) rotate(-15.03)"> </text>
<text class="cls-13" transform="translate(241.67 105.39) rotate(-14.98)">à</text>
<text class="cls-13" transform="translate(245.41 104.39) rotate(-14.92)"> </text>
<text class="cls-13" transform="matrix(0.97, -0.26, 0.26, 0.97, 247.31, 103.88)">Z</text>
<text class="cls-13" transform="translate(251.44 102.79) rotate(-14.78)">o</text>
<text class="cls-13" transform="matrix(0.97, -0.25, 0.25, 0.97, 255.19, 101.8)">r</text>
<text class="cls-13" transform="matrix(0.97, -0.25, 0.25, 0.97, 257.45, 101.21)">e</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 161.91, 20.33)">r</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 164.04, 21.34)">o</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 167.59, 23)">u</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 171.15, 24.68)">t</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 172.92, 25.52)">e</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 176.49, 27.21)"> </text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 178.26, 28.05)">d</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 181.82, 29.73)">e</text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 185.37, 31.42)"> </text>
<text class="cls-13" transform="matrix(0.91, 0.43, -0.45, 0.88, 187.14, 32.26)">L</text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.45, 0.88, 190.67, 33.95)">a</text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.45, 0.88, 194.21, 35.64)"> </text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.46, 0.88, 195.99, 36.5)">P</text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.46, 0.88, 200.25, 38.54)">l</text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.46, 0.88, 201.64, 39.21)">a</text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.46, 0.88, 205.21, 40.92)">g</text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.46, 0.88, 208.73, 42.63)">n</text>
<text class="cls-13" transform="matrix(0.91, 0.44, -0.46, 0.88, 212.26, 44.34)">e</text><rect class="cls-2" x="213.06" y="3.17" width="144.51" height="11.26"/><rect class="cls-2" x="167" y="240.61" width="2.44" height="6.32"/><rect class="cls-2" x="216.91" y="238.73" width="2.53" height="7.14"/><text class="cls-12" transform="translate(215.83 11.22)">Télécabine Super Morzine / Avoriaz</text>
<text class="cls-11" transform="translate(281.01 262.7)">Nyon - Les Gets</text>
<text class="cls-12" transform="translate(151.3 246.26)">Télécabine du Pleney</text>
<text class="cls-10" transform="translate(27.16 18.56)">Thonon / Evian / Genève</text>
<text class="cls-11" transform="translate(384.39 127.72)">Gendarmerie</text>
<text class="cls-14" transform="translate(8.62 208.77) scale(1.04 1)">Le Caribou Sport 2 <tspan x="19.59" y="13.43">(ABC Sport)</tspan></text><path class="cls-7" d="M76.41,192.34a4.48,4.48,0,0,1-4.56,4.41h-19a4.49,4.49,0,0,1-4.57-4.41v-26a4.49,4.49,0,0,1,4.57-4.41h19a4.48,4.48,0,0,1,4.56,4.41Z"/><path class="cls-2" d="M60.12,190.89v-4.16H61.3v4.16Z"/><path class="cls-2" d="M63.59,190.92a2.58,2.58,0,0,1-1.82-.55l.75-.65a1.59,1.59,0,0,0,1,.33c.52,0,.76-.14.76-.41a.33.33,0,0,0-.11-.27.58.58,0,0,0-.34-.12l-.64-.08a1.49,1.49,0,0,1-.91-.32A1.08,1.08,0,0,1,62,188c0-.76.66-1.31,1.75-1.31a2.35,2.35,0,0,1,1.61.49l-.74.64a1.33,1.33,0,0,0-.9-.28c-.45,0-.64.23-.64.42a.31.31,0,0,0,.11.22.73.73,0,0,0,.36.13l.64.08a1.53,1.53,0,0,1,.89.3,1.14,1.14,0,0,1,.35.91C65.43,190.46,64.59,190.92,63.59,190.92Z"/><path class="cls-2" d="M58.35,190.89l-1.1-1.66-.4.4v1.26H55.69v-4.16h1.16v1.6l1.46-1.6h1.36L58,188.46l1.68,2.43Z"/><path class="cls-2" d="M72.11,187.6v3.29H70.94V187.6H69.76v-.87h3.53v.87Z"/><path class="cls-2" d="M69.22,187.6v-.87H66v3.75a.41.41,0,0,0,.42.41h2.83V190H67.15v-.78h1.77v-.91H67.15v-.74Z"/><path class="cls-2" d="M53.3,190.92a2.55,2.55,0,0,1-1.81-.55l.75-.65a1.59,1.59,0,0,0,1,.33c.51,0,.75-.14.75-.41a.36.36,0,0,0-.1-.27.65.65,0,0,0-.35-.12l-.63-.08a1.55,1.55,0,0,1-.92-.32,1.07,1.07,0,0,1-.32-.84c0-.76.65-1.31,1.74-1.31a2.38,2.38,0,0,1,1.62.49l-.74.64a1.34,1.34,0,0,0-.9-.28c-.45,0-.64.23-.64.42a.29.29,0,0,0,.1.22.74.74,0,0,0,.37.13l.63.08a1.51,1.51,0,0,1,.89.3,1.12,1.12,0,0,1,.36.91C55.15,190.46,54.31,190.92,53.3,190.92Z"/><path class="cls-2" d="M51.77,179.52c.11,2.89.28,5.61,8.54,5.61h.84a.54.54,0,0,0,.51-.6l0-2.46c0-.14,0-.21-.14-.22h-1a2.46,2.46,0,0,1-1.73-.56,2.21,2.21,0,0,1-.42-1.13.69.69,0,0,0-.69-.64Z"/><path class="cls-2" d="M65.62,167.91l-4,6-.06,0a8.92,8.92,0,0,1-2.72-1.23,1,1,0,0,1-.21-.72c0-.77.68-1.23,1.73-1.22l1.14.05c.36,0,.78,0,.8-.47,0,0,.11-2.35.11-2.55s-.29-.2-.29-.2c-7-.31-10.27.75-10.44,4.42a3.75,3.75,0,0,0,1.09,3c1.5,1.4,5.86,2.91,8.59,3.93l4.58,5.92h7.67l-6.77-8.33,6.11-8.59Z"/><path class="cls-7" d="M358.27,153a4.48,4.48,0,0,1-4.57,4.4h-19a4.48,4.48,0,0,1-4.57-4.4v-26a4.49,4.49,0,0,1,4.57-4.41h19a4.49,4.49,0,0,1,4.57,4.41Z"/><path class="cls-2" d="M342,151.5v-4.16h1.18v4.16Z"/><path class="cls-2" d="M345.44,151.53a2.55,2.55,0,0,1-1.81-.54l.75-.66a1.59,1.59,0,0,0,1.05.33c.51,0,.75-.14.75-.41a.33.33,0,0,0-.1-.27.65.65,0,0,0-.35-.12l-.64-.08a1.42,1.42,0,0,1-.9-.32,1,1,0,0,1-.33-.84c0-.76.65-1.31,1.74-1.31a2.32,2.32,0,0,1,1.61.49l-.73.65a1.31,1.31,0,0,0-.9-.29c-.46,0-.64.23-.64.43a.29.29,0,0,0,.1.21.73.73,0,0,0,.37.14l.63.07a1.44,1.44,0,0,1,.89.31,1.09,1.09,0,0,1,.36.91C347.29,151.07,346.45,151.53,345.44,151.53Z"/><path class="cls-2" d="M340.21,151.5l-1.1-1.66-.41.41v1.25h-1.16v-4.16h1.16v1.6l1.46-1.6h1.37l-1.64,1.73,1.69,2.43Z"/><path class="cls-2" d="M354,148.21v3.29h-1.18v-3.29h-1.17v-.87h3.53v.87Z"/><path class="cls-2" d="M351.08,148.21v-.87h-3.26v3.76a.41.41,0,0,0,.42.4h2.84v-.86H349v-.78h1.78V149H349v-.74Z"/><path class="cls-2" d="M335.16,151.53a2.57,2.57,0,0,1-1.82-.54l.76-.66a1.54,1.54,0,0,0,1,.33c.51,0,.76-.14.76-.41a.33.33,0,0,0-.11-.27.58.58,0,0,0-.34-.12l-.64-.08a1.45,1.45,0,0,1-.91-.32,1.08,1.08,0,0,1-.33-.84c0-.76.66-1.31,1.75-1.31a2.35,2.35,0,0,1,1.61.49l-.74.65a1.29,1.29,0,0,0-.9-.29c-.45,0-.63.23-.63.43a.29.29,0,0,0,.1.21.72.72,0,0,0,.36.14l.64.07a1.46,1.46,0,0,1,.89.31,1.12,1.12,0,0,1,.35.91C337,151.07,336.17,151.53,335.16,151.53Z"/><path class="cls-2" d="M333.62,140.13c.12,2.9.29,5.61,8.55,5.61H343a.53.53,0,0,0,.51-.6l0-2.46c0-.14,0-.21-.14-.22h-1a2.42,2.42,0,0,1-1.73-.56,2.09,2.09,0,0,1-.42-1.12.7.7,0,0,0-.7-.65Z"/><path class="cls-2" d="M347.48,128.52l-4,6-.05,0a8.67,8.67,0,0,1-2.72-1.23,1,1,0,0,1-.22-.72c0-.77.69-1.23,1.73-1.22l1.14,0c.37,0,.78,0,.8-.47,0,0,.11-2.35.12-2.55s-.3-.2-.3-.2c-7-.3-10.26.75-10.43,4.42a3.72,3.72,0,0,0,1.09,3c1.5,1.4,5.86,2.91,8.59,3.93,0,0,4.54,5.87,4.57,5.92h7.68c-.18-.21-6.78-8.33-6.78-8.33s6-8.38,6.11-8.59Z"/><rect class="cls-2" x="294.06" y="160.58" width="100.26" height="11.26"/><line class="cls-15" x1="65.8" y1="164.12" x2="187.53" y2="17.18"/><path class="cls-16" d="M188.26,17.78a.94.94,0,1,0-1.33.12A.94.94,0,0,0,188.26,17.78Z"/><line class="cls-15" x1="330.3" y1="136.5" x2="228.1" y2="117.83"/><path class="cls-16" d="M228.27,116.9A.94.94,0,1,0,229,118,1,1,0,0,0,228.27,116.9Z"/>
<text class="cls-14" transform="translate(296.92 169.38) scale(1.04 1)">Le Caribou Sport</text>
</g>
<g id="resid"><text class="cls-17" transform="translate(38.68 305.38)">
            <tspan class="cls-18">V</tspan><tspan x="6.49" y="0">illage Cap'vacances Morzine (L'Hauturière)</tspan></text>
<text class="cls-17" transform="translate(38.68 326.34)">Hôtel Igloo</text>
<text class="cls-17" transform="translate(38.68 347.02)">Chalet HôtelBel<tspan class="cls-19" x="69.48" y="0"> </tspan><tspan x="71.71" y="0">Alpe</tspan></text>
<text class="cls-17" transform="translate(38.68 368.02)">Apartment Edelweiss - Pure Morzine</text>
<text class="cls-17" transform="translate(38.68 389.02)">Hôtel Le<tspan class="cls-18" x="37.25" y="0"> </tspan><tspan class="cls-20" x="39.84" y="0">T</tspan><tspan x="45.58" y="0">remplin</tspan></text>
            <text class="cls-17" transform="translate(273.13 305.38)">Hôtel <tspan class="cls-19" x="26.12" y="0">L</tspan><tspan x="31.13" y="0">’Equipe</tspan></text>
<text class="cls-17" transform="translate(273.13 326.34)">Hôtel Le Cottage</text>
            <text class="cls-17" transform="translate(273.13 347.02)">Les<tspan class="cls-19" x="16.12" y="0"> </tspan><tspan x="18.35" y="0">Airelles</tspan></text>
<text class="cls-17" transform="translate(273.13 368.02)">Hôtel Champs Fleuris</text>
            <text class="cls-17" transform="translate(273.13 389.02)">L'Aubergade Hotel - Mountain Mavericks</text>
            <text class="cls-17" transform="translate(501.49 305.38)">Hôtel Le Samoyède</text>
<text class="cls-17" transform="translate(501.49 326.34)">Hôtel La Bergerie</text></g>

<g id="placés">
   <circle class="cls-21" cx="249.2" cy="74.06" r="6.5"/><polygon class="cls-22" points="253.45 72.65 250.61 72.65 250.61 69.81 247.78 69.81 247.78 72.65 244.95 72.65 244.95 75.48 247.78 75.48 247.78 78.31 250.61 78.31 250.61 75.48 253.45 75.48 253.45 72.65"/><g id="Parking"><rect class="cls-23" x="232.73" y="83.2" width="11.34" height="11.34"/><path class="cls-2" d="M241,87.82a1.67,1.67,0,0,1-.29.93,2.06,2.06,0,0,1-.83.7,3,3,0,0,1-1.32.27h-1.07v2.11h-1.74V85.91h2.82a2.94,2.94,0,0,1,1.31.27,2.06,2.06,0,0,1,.83.7A1.68,1.68,0,0,1,241,87.82Zm-1.75,0a.53.53,0,0,0-.09-.3.67.67,0,0,0-.27-.22,1,1,0,0,0-.4-.08h-1v1.19h1a1,1,0,0,0,.4-.08.67.67,0,0,0,.27-.22A.52.52,0,0,0,239.28,87.82Z"/>
</g>

<path class="cls-24" d="M274.61,86.23a2.52,2.52,0,0,0,2.62-2.41V76.58a2.52,2.52,0,0,0-2.62-2.41h-7.87a2.53,2.53,0,0,0-2.63,2.41v7.24a2.53,2.53,0,0,0,2.63,2.41Z"/><path class="cls-25" d="M272.4,84.49h-3.32v-.31c.5-.11.74-.15.74-.76V79.66c0-.57-.21-.66-.74-.75v-.3h2.67v4.85c0,.39.11.67.65.72Zm-1.62-8.82a1,1,0,1,1,0,2,1,1,0,0,1-1.09-1A1,1,0,0,1,270.78,75.67Z"/>
<circle class="cls-21" cx="202.77" cy="8.24" r="6.5"/><path class="cls-22" d="M207.29,3.68V3.3l-10.62,4v.37l5.94-2.19v2h-2.72a.38.38,0,0,0-.38.38v4a.38.38,0,0,0,.38.38h5.75a.39.39,0,0,0,.39-.38v-4a.39.39,0,0,0-.39-.38h-2.71V5.32Zm-3.82,4.4h2a.2.2,0,0,1,.2.2v1.3a.2.2,0,0,1-.2.21H200a.21.21,0,0,1-.21-.21V8.29a.21.21,0,0,1,.21-.21h3.43Z"/><circle class="cls-21" cx="172.79" cy="229.37" r="6.5"/><path class="cls-22" d="M177.32,224.81v-.37l-10.62,4v.37l5.93-2.2v2h-2.71a.38.38,0,0,0-.38.38v4a.38.38,0,0,0,.38.38h5.75a.38.38,0,0,0,.38-.38v-4a.38.38,0,0,0-.38-.38H173v-2.13Zm-3.83,4.41h2a.2.2,0,0,1,.21.2v1.3a.21.21,0,0,1-.21.21h-5.46a.21.21,0,0,1-.2-.21v-1.29a.2.2,0,0,1,.2-.21h3.43Z"/><circle class="cls-21" cx="222.02" cy="229.38" r="6.5"/><path class="cls-22" d="M226.55,224.82v-.37l-10.62,4v.37l5.93-2.2v2h-2.71a.39.39,0,0,0-.38.39v4a.38.38,0,0,0,.38.38h5.75a.38.38,0,0,0,.38-.38v-4a.39.39,0,0,0-.38-.39h-2.72v-2.12Zm-3.83,4.4h2a.21.21,0,0,1,.21.21v1.3a.2.2,0,0,1-.21.2h-5.46a.2.2,0,0,1-.2-.21v-1.29a.21.21,0,0,1,.2-.21h3.43Z"/><circle class="cls-21" cx="259.55" cy="243.39" r="6.5"/><path class="cls-22" d="M264.08,238.83v-.37l-10.63,4v.37l5.94-2.2v2h-2.71a.38.38,0,0,0-.38.38v4a.39.39,0,0,0,.38.39h5.75a.39.39,0,0,0,.38-.39v-4a.38.38,0,0,0-.38-.38h-2.72v-2.12Zm-3.83,4.4h2a.21.21,0,0,1,.21.21v1.3a.2.2,0,0,1-.21.2h-5.46a.2.2,0,0,1-.2-.21v-1.29a.21.21,0,0,1,.2-.21h3.43Z"/><circle class="cls-21" cx="375.59" cy="256.65" r="6.5"/><path class="cls-22" d="M374.92,253.66a.73.73,0,0,0,.06-1,.73.73,0,1,0-1.09,1A.73.73,0,0,0,374.92,253.66Z"/><path class="cls-22" d="M380.61,259.16h0a.19.19,0,0,0-.26,0l-.2.21h0l-6.62,1.9a.17.17,0,0,0-.12.21h0a.19.19,0,0,0,.22.13l6.73-1.93a.17.17,0,0,0,.11-.09l.17-.17A.19.19,0,0,0,380.61,259.16Z"/><path class="cls-22" d="M374.31,258.1a11.7,11.7,0,0,0,2-.28v1.81a.45.45,0,1,0,.9.08c0-.12,0-2.06,0-2.44s-.48-.48-.73-.48-1.34,0-1.37,0,0-1.66,0-1.86,0-.46-.17-.64a.71.71,0,0,0-1-.05.62.62,0,0,0-.25.55v2.74A.58.58,0,0,0,374.31,258.1Z"/><path id="path17" class="cls-22" d="M375.07,249.86l0,0c-.13.11-3.2,2.88-3.2,5.17,0,2.55,1.28,3.64,1.79,3.64a15.77,15.77,0,0,0,2.47-.78.24.24,0,1,0-.18-.45,16.13,16.13,0,0,1-2.29.74c-.23,0-1.3-.88-1.3-3.15,0-2.07,3-4.78,3-4.81a.16.16,0,0,0,.06-.08Z"/><circle class="cls-21" cx="809.8" cy="7.79" r="6.5"/><path class="cls-22" d="M814.33,3.23V2.86l-10.63,4v.37L809.64,5V7h-2.71a.4.4,0,0,0-.39.39v4a.39.39,0,0,0,.39.38h5.75a.38.38,0,0,0,.38-.38v-4a.39.39,0,0,0-.38-.39H810V4.87Zm-3.83,4.4h2a.21.21,0,0,1,.21.21v1.3a.2.2,0,0,1-.21.2h-5.46a.2.2,0,0,1-.2-.21V7.84a.21.21,0,0,1,.2-.21h3.43Z"/><circle class="cls-26" cx="537.23" cy="164" r="6.5"/><polygon class="cls-27" points="540.13 161.81 538.07 161.81 538.07 159.71 536.39 159.71 536.39 161.81 534.33 161.81 534.33 163.5 536.39 163.5 536.39 168.29 538.07 168.29 538.07 163.5 540.13 163.5 540.13 161.81"/><circle class="cls-28" cx="405.53" cy="138.93" r="6.5"/><g id="surface0"><path class="cls-29" d="M404.29,134.52h3v.83h-2.4Z"/><path class="cls-30" d="M404.29,134.52h3v.83h-2.4Z"/><path class="cls-29" d="M404.89,135.61c.79,0,1.59,0,2.38,0v.58a1.1,1.1,0,0,1-.33.82,1.19,1.19,0,0,1-1.05.33,1.14,1.14,0,0,1-.69-.42,1.25,1.25,0,0,1-.23-.7h-.56Z"/><path class="cls-30" d="M404.89,135.61c.79,0,1.59,0,2.38,0v.58a1.1,1.1,0,0,1-.33.82,1.19,1.19,0,0,1-1.05.33,1.14,1.14,0,0,1-.69-.42,1.25,1.25,0,0,1-.23-.7h-.56Z"/><path class="cls-29" d="M404.34,137.75h2.82l-2.72,3.61v-2.47c-.4.52-.79,1.05-1.19,1.58a.53.53,0,0,1-.49.17.81.81,0,0,1-.38-.19l-1.59-1.26a.5.5,0,0,1-.21-.39.57.57,0,0,1,.55-.57.56.56,0,0,1,.35.13l1.24,1,.88-1.17A1,1,0,0,1,404.34,137.75Z"/><path class="cls-30" d="M404.34,137.75h2.82l-2.72,3.61v-2.47c-.4.52-.79,1.05-1.19,1.58a.53.53,0,0,1-.49.17.81.81,0,0,1-.38-.19l-1.59-1.26a.5.5,0,0,1-.21-.39.57.57,0,0,1,.55-.57.56.56,0,0,1,.35.13l1.24,1,.88-1.17A1,1,0,0,1,404.34,137.75Z"/><path class="cls-29" d="M405.07,141.47l2.76-3.71a.75.75,0,0,1,.58.24.88.88,0,0,1,.2.61v4.73h-4.17v-1.28h3v-.59Z"/>
   <path class="cls-30" d="M405.07,141.47l2.76-3.71a.75.75,0,0,1,.58.24.88.88,0,0,1,.2.61v4.73h-4.17v-1.28h3v-.59Z"/></g>
<circle class="cls-26" cx="249.82" cy="21.46" r="6.5"/><path id="path1914" class="cls-27" d="M248.41,25.1a23.6,23.6,0,0,1-2.52-.05L245.5,25l0-.08c0-.09,0-.12.13-.25a.42.42,0,0,1,.14-.09,5.05,5.05,0,0,0,.87-.12.44.44,0,0,0,.1-.16.5.5,0,0,0,0-.32l0-.2h-.14c-.23,0-.29-.05-.35-.26a2.29,2.29,0,0,1-.07-.42,6.71,6.71,0,0,0-.15-.91,1.19,1.19,0,0,1,.05-.71,4.85,4.85,0,0,1,.31-.76,4.17,4.17,0,0,0,.19-.46,3,3,0,0,0,.09-.91c0-.13,0-.33,0-.44V18.7l.18-.11c1.23-.8,1.63-.93,1.87-.63a.21.21,0,0,0,.21.1.26.26,0,0,1,.17.05s.06,0,.21,0a1.1,1.1,0,0,1,.29-.05h.12l.1.34c0,.18.11.44.13.56a2.58,2.58,0,0,0,.28.9.39.39,0,0,1,.06.14s0,.06,0,.08a.11.11,0,0,1,.06.09.35.35,0,0,0,0,.14s0,.08,0,.08-.09.05,0,.15.09.13.31.18a.64.64,0,0,1,.49.29.38.38,0,0,0,.16.17,1.63,1.63,0,0,1,.29.24,1.42,1.42,0,0,0,.54.41,1.07,1.07,0,0,1,.24.12.75.75,0,0,0,.16.1l.08,0a.76.76,0,0,0,.31.07,1.53,1.53,0,0,1,.61.12.54.54,0,0,1,.27.3c.06.13.07.17.07.55v.41l.1.11a1,1,0,0,1,.28.58,3,3,0,0,1-.37.54l-.34.07a17.73,17.73,0,0,1-2.76.26Zm-.06-.54c.4,0,.85,0,1,0l.6,0a5.2,5.2,0,0,0,1-.1c.11,0,.15-.2.1-.35a.54.54,0,0,1,0-.19v-.07h-.38a3,3,0,0,1-.56,0,3.84,3.84,0,0,1-.87-.33,5.16,5.16,0,0,0-.93-.34l-.47-.1-.28-.06h-.06v.79l-.08,0c-.06,0-.08.05-.11.19a.34.34,0,0,0,0,.31.35.35,0,0,0,.19.19C247.62,24.55,247.71,24.55,248.35,24.56Zm4.58-.13a1.48,1.48,0,0,0,.6-.15c.09-.08.08-.31,0-.51s-.1-.18-.58-.1a5.53,5.53,0,0,1-1,.11h-.21l0,.09c0,.05,0,.15,0,.23s0,.15.09.22a.53.53,0,0,0,.3.1A5.49,5.49,0,0,0,252.93,24.43Z"/><circle class="cls-1" cx="177.32" cy="84.55" r="6.5"/><path class="cls-2" d="M178.9,88.11h-1.64V82.74l-1.52,1.32V82.31L177.26,81h1.64Z"/><circle class="cls-1" cx="124.1" cy="109.67" r="6.5"/><path class="cls-2" d="M126.39,113.26h-4.58v-1.48l2.58-2.81a1.49,1.49,0,0,0,.28-.37.79.79,0,0,0,.08-.38.65.65,0,0,0-.16-.48.62.62,0,0,0-.48-.18.75.75,0,0,0-.47.15.66.66,0,0,0-.19.54h-1.64a2.22,2.22,0,0,1,.31-1.17,2.07,2.07,0,0,1,.83-.75,2.63,2.63,0,0,1,1.16-.25,2.47,2.47,0,0,1,1.18.26,1.84,1.84,0,0,1,.81.75,2.1,2.1,0,0,1,.29,1.14,1.74,1.74,0,0,1-.2.88,4.24,4.24,0,0,1-.68.86l-1.7,1.81h2.58Z"/><circle class="cls-1" cx="77.51" cy="94.87" r="6.5"/><path class="cls-2" d="M79.88,96.3a2,2,0,0,1-.68,1.62,2.57,2.57,0,0,1-1.7.57,2.91,2.91,0,0,1-1.15-.23,2,2,0,0,1-.88-.74,2.27,2.27,0,0,1-.33-1.26h1.64a.73.73,0,0,0,.2.56.77.77,0,0,0,.52.19.74.74,0,0,0,.54-.19.77.77,0,0,0,.2-.57.74.74,0,0,0-.77-.75h-.23V94.08h.23a.69.69,0,0,0,.39-.1.51.51,0,0,0,.22-.24.73.73,0,0,0,.08-.33.69.69,0,0,0-.19-.5.66.66,0,0,0-.47-.18.65.65,0,0,0-.46.18.68.68,0,0,0-.19.49H75.21a2.19,2.19,0,0,1,.18-.9,1.82,1.82,0,0,1,.49-.67,2.14,2.14,0,0,1,.73-.43,2.71,2.71,0,0,1,2.07.12,2,2,0,0,1,1.11,1.84,1.54,1.54,0,0,1-.73,1.39,2.14,2.14,0,0,1,.59.61A1.74,1.74,0,0,1,79.88,96.3Z"/><circle class="cls-1" cx="160.79" cy="157.36" r="6.5"/><path class="cls-2" d="M163.31,160h-.53v.94h-1.55V160h-3v-1.56l2.37-4.62h1.79l-2.36,4.62h1.16v-.94h1.55v.94h.53Z"/><circle class="cls-1" cx="207.29" cy="168.29" r="6.5"/><path class="cls-2" d="M209.61,169.39a4.22,4.22,0,0,1-.06.77,1.9,1.9,0,0,1-.2.58,2.37,2.37,0,0,1-.41.53,1.85,1.85,0,0,1-.67.43,2.48,2.48,0,0,1-1,.18,2.64,2.64,0,0,1-1-.18,2.1,2.1,0,0,1-.7-.44,1.74,1.74,0,0,1-.45-.7,4.11,4.11,0,0,1-.17-.91h1.64c.06.5.28.75.67.75a.62.62,0,0,0,.46-.18,1.19,1.19,0,0,0,.21-.83,1.33,1.33,0,0,0-.17-.78.59.59,0,0,0-.5-.23.58.58,0,0,0-.44.14,1.07,1.07,0,0,0-.23.38h-1.51v-4.2h4.34v1.48H206.6v1.1a1.44,1.44,0,0,1,.41-.19,1.71,1.71,0,0,1,.55-.09,2.24,2.24,0,0,1,.8.14,1.59,1.59,0,0,1,.58.36,1.84,1.84,0,0,1,.53.84A3.66,3.66,0,0,1,209.61,169.39Z"/><circle class="cls-1" cx="239.93" cy="168.5" r="6.5"/><path class="cls-2" d="M242.37,166.42l-2.22,5.64h-1.8l2.22-5.64h-1.52v1.12h-1.56v-2.6h4.88Z"/><circle class="cls-1" cx="253.84" cy="179.7" r="6.5"/><path class="cls-2" d="M256.21,181a2.38,2.38,0,0,1-.32,1.24,2,2,0,0,1-.87.78,2.63,2.63,0,0,1-1.19.27,2.66,2.66,0,0,1-1.19-.27,2,2,0,0,1-.86-.78,2.38,2.38,0,0,1-.32-1.24,2.35,2.35,0,0,1,.06-.51,4.21,4.21,0,0,1,.16-.55,5.38,5.38,0,0,1,.25-.56l.21-.45,1.38-2.82h1.79l-1.4,2.79a1,1,0,0,1,.39-.05,1.63,1.63,0,0,1,.68.14,1.8,1.8,0,0,1,.62.42,2.11,2.11,0,0,1,.44.67A2.4,2.4,0,0,1,256.21,181Zm-1.64,0a.81.81,0,0,0-.21-.6.74.74,0,0,0-1.05,0,.81.81,0,0,0-.2.6.8.8,0,0,0,.2.59.71.71,0,0,0,.52.22.73.73,0,0,0,.53-.22A.8.8,0,0,0,254.57,181Z"/><circle class="cls-1" cx="268.56" cy="113.18" r="6.5"/><path class="cls-2" d="M271,114.61a2.23,2.23,0,0,1-.32,1.21,2,2,0,0,1-.86.73,3,3,0,0,1-1.22.24,3,3,0,0,1-1.21-.24,2,2,0,0,1-.86-.73,2.22,2.22,0,0,1-.31-1.21,1.6,1.6,0,0,1,.23-.93,2.74,2.74,0,0,1,.57-.61,2.65,2.65,0,0,1-.53-.59,1.43,1.43,0,0,1-.21-.81,2.2,2.2,0,0,1,.19-.9,2.13,2.13,0,0,1,.51-.67,2.28,2.28,0,0,1,.75-.41,2.82,2.82,0,0,1,.87-.13,2.63,2.63,0,0,1,.89.14,2.4,2.4,0,0,1,.74.4,2,2,0,0,1,.5.67,2,2,0,0,1,.19.9,1.5,1.5,0,0,1-.21.83,2.54,2.54,0,0,1-.52.57,2.53,2.53,0,0,1,.57.61A1.6,1.6,0,0,1,271,114.61Zm-1.64,0a.7.7,0,0,0-.11-.37.75.75,0,0,0-.28-.28.69.69,0,0,0-.37-.1.72.72,0,0,0-.52.21.73.73,0,0,0-.22.54.75.75,0,0,0,.74.74.75.75,0,0,0,.76-.74Zm-.07-2.85a.66.66,0,0,0-.2-.49.66.66,0,0,0-.49-.19.62.62,0,0,0-.48.2.66.66,0,0,0-.2.48.67.67,0,0,0,.2.48.65.65,0,0,0,.48.19.67.67,0,0,0,.69-.67Z"/><circle class="cls-1" cx="324.93" cy="212.85" r="6.5"/><path class="cls-2" d="M323.48,216.41h-1.65V211l-1.51,1.32v-1.75l1.51-1.32h1.65Z"/><path class="cls-2" d="M329.55,214.25a2.25,2.25,0,0,1-.19,1,2,2,0,0,1-.5.7,2.45,2.45,0,0,1-.74.42,2.82,2.82,0,0,1-.86.14,2.7,2.7,0,0,1-1.13-.25,2.14,2.14,0,0,1-.85-.76,2.22,2.22,0,0,1-.31-1.21v-2.8a2.33,2.33,0,0,1,.18-.95,2,2,0,0,1,.52-.7,2.24,2.24,0,0,1,.73-.43,2.71,2.71,0,0,1,1.72,0,2.45,2.45,0,0,1,.74.42,2.08,2.08,0,0,1,.5.7,2.25,2.25,0,0,1,.19,1Zm-1.64,0v-2.81a.74.74,0,0,0-.19-.55.64.64,0,0,0-.46-.19.63.63,0,0,0-.47.2.75.75,0,0,0-.18.54v2.81a.77.77,0,0,0,.18.54.63.63,0,0,0,.47.19.6.6,0,0,0,.46-.19A.7.7,0,0,0,327.91,214.26Z"/><circle class="cls-1" cx="305.36" cy="101.37" r="6.5"/><path class="cls-2" d="M304.66,104.93H303V99.56l-1.51,1.32V99.13L303,97.81h1.65Z"/><path class="cls-2" d="M309.22,104.93h-1.64V99.56l-1.52,1.32V99.13l1.52-1.32h1.64Z"/><circle class="cls-1" cx="309.32" cy="144.7" r="6.5"/><path class="cls-2" d="M308.09,148.29h-1.64v-5.37l-1.52,1.32v-1.75l1.52-1.32h1.64Z"/><path class="cls-2" d="M313.71,148.29h-4.58v-1.48l2.57-2.8a1.51,1.51,0,0,0,.28-.38.76.76,0,0,0,.09-.38.69.69,0,0,0-.17-.48.61.61,0,0,0-.47-.18.69.69,0,0,0-.47.16.64.64,0,0,0-.2.53h-1.63a2.18,2.18,0,0,1,.3-1.16,2.06,2.06,0,0,1,.83-.75,2.64,2.64,0,0,1,1.17-.26,2.58,2.58,0,0,1,1.17.26,1.84,1.84,0,0,1,.81.75,2.16,2.16,0,0,1,.3,1.14,1.82,1.82,0,0,1-.2.88,5.14,5.14,0,0,1-.69.87l-1.7,1.8h2.59Z"/></g>

   </svg>
</ons-page>
